@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 14px;
  border: 2px solid gray;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 5px;
}

.marquee-stocks {
  position: relative;
  width: 98.9vw;
  max-width: 100%;
  height: 3vh;
  overflow: hidden;
}

.track-stocks {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 200s linear infinite;
}


.marquee {
  position: relative;
  width: 98.9vw;
  max-width: 100%;
  height: 10vh;
  overflow: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-75%); }
}
